@if (!User.IsInRole("Employee") || User.IsInRole("ProductionManager") || User.IsInRole("ProductionManager"))
{
   
     Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
   
}

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>StallionWare is a dynamic Web application used to manage your inventory.</p>
