@if (!User.IsInRole("Employee") || User.IsInRole("ProductionManager") || User.IsInRole("ProductionManager"))
{

    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";

}

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    StallionWare<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:larrymoua@example.com">larrymoua@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:larrymoua@example.com">larrymoua@example.com</a>
</address>