@if (!User.IsInRole("Employee") || User.IsInRole("ProductionManager") || User.IsInRole("ProductionManager"))
{

    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";

}

@{
    ViewBag.Title = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<img src="~/images/cooltext318846653679449.png" width="70" height="70" alt="logos" class="center">
<style>
    body {
        background-image: url('/Content/Image/img5.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        object-fit: cover;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .responsive {
        width: 100%;
        height: auto;
    }
</style>
<div class="w3-panel w3-leftbar center">
    <p>
        <i class="fa fa-quote-right w3-xxlarge"></i><br>
        <i class="w3-serif w3-xlarge"> "Opportunities don't happen. You create them."</i>
        <i>-- Chris Grosser</i>
    </p>
</div>
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />